@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Spectral:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');


body {
width: 100%;
height: 100%;
font-family: 'Bree Serif', serif;
font-family: 'Spectral', serif;
}

header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.navbar {
    width: 100%;
    height: 70px;
    display: flex;
    flex-wrap: nowrap;
    box-sizing: border-box;
    border: 1px solid black;
}
.logo { 
    padding-left: 100px;
    background-color: #ffc017;
}
.logo img {
   width: 180px;
   display: flex;
}

.navlink {
    padding-right: 100px;
    background-color: #ffc017;
    border-color: black;
    width: 100%;
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    text-decoration: none;

}
.navlink ul {
    list-style-type: none;
    display: inline-flex;
    justify-content: flex-end;
    text-decoration: none;
}
.navlink li {
  padding: 10px;
}
.navlink li a {
  text-decoration: none;
  color: black;
}
.button button {
    font-family: 'Spectral', serif;
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
    border: none;
    font-weight: bold;
    padding: 8px 20px;
    border-radius: 40px;
    cursor: pointer;
}
.sottoNav {
    width: 100%;
    height: 450px;
    display: flex;
    align-content: space-between;
    justify-content: space-between;
    border-bottom: 1px solid black;
}
.mediumGrande, .tanteM {
    background-color: #ffc017;
    display: flex;
    width: 50%;
   
}
.mediumGrande {
    flex-flow: column;
}
.stay {
    display: flex;
    height: 30%;
    padding-top: 50px;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.stay h1 {
  padding: 10px;
  text-align: center;
  font-size: 100px;
  font-weight: 900;
}
.mediumGrande p {
  padding-left: 50px;
  padding-right: 90px;
  text-align: left;
  font-size: 28px;
  font-weight: 200;
}
.button2 button {
  font-family: 'Spectral', serif;
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 800;
  margin: 40px;
  border: none;
  background-color: #191919;
  transition: background-color 0.1s ease-in-out;
  color: white;
  font-weight: bold;
  padding: 10px 80px;
  border-radius: 40px;
  cursor: pointer;
  }
  .button2 button:hover {
    background-color: black;
  }

.articoli {
    width: 50%;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
  }

  .article-image {
    width: 100%;
    height: auto;
    display: block;
  }

  .articoloTitolo {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 5px;
  }

  .articoloAutore {
    font-size: 14px;
    margin-bottom: 5px;
  }

  .articoloData {
    font-size: 12px;
    color: #c91f1f;
    margin-right: 5px;
  }